  <div class="fexo-comments <%= className %>" id="comment">
    <%- partial('disqus') %>
    <%- partial('duoshuo') %>
    <%- partial('gentie') %>
    <%- partial('hypercomments') %>	
    <%- partial('gitment') %>
  </div>
